:root {
  --lightPink: #f8d9e8;
  --darkPink: #640227;
  --lightBlue: #9cb5ba;
  --darkBlue: #1f2c2e;
  --lightGreen: #d4e99c;
  --darkGreen: #394107;
}

body {
  margin: 0;
}

main {
  padding: 1rem;
}
